@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(roboto-slab.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC,
            U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122,
            U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 45em;
  line-height: 1.5em;
  font-size: large;
}

footer {
  line-height: 1.5em;
  color: grey;
  padding: 0.5em;
}
footer a { color: grey; }

nav a { font-weight: normal; }
nav li:before { content: ""; margin-left: 0; }
@media (min-width: 40em) {
  nav input { display: none; }
  .social-media label { display: none; }
  nav ul { display: block; }
  nav { margin-bottom: -1em; text-align: right; }
  nav li { display: inline; }
  nav li:not(:last-child):after { content: " "; }
}
@media not screen and (min-width: 40em) {
  nav input { opacity: 0; position: absolute; }
  nav ul { max-height: 0; visibility: hidden; margin: 0; transition: all .15s; text-align: left; }
  nav li { display: block; padding: 0; margin-left: -1em; }
  nav a { display: block; }
  nav { width: 100%; clear: both; }
  nav input:checked ~ ul { max-height: 200vh; visibility: visible; margin-bottom: 0.5em; }
}
.nav-unterschreiben a { background-color: #f68712; color: white; font-weight: bold; border: 2px solid #f68712; padding: 0.3em; }

h1, h2, h3 { font-family: "Roboto Slab", serif; }

h1 { font-size: 2.5em; text-transform: uppercase; }
@media (min-width: 40em) { h1 { font-size: 4em; } }
h2 { padding: 0.5em; margin-top: 2em; text-align: center; background-color: #00adef; color: white; }

a { text-decoration: none; color: #f68712; font-weight: bold; }
a:hover { text-decoration: underline; }

h3 { margin-bottom: 0; }

.row { display: flex; flex-direction: row; flex-wrap: wrap; }
@media (min-width: 40em) { .row { width: 100%; } }
.col { display: flex; flex-direction: column; flex-basis: 100%; flex: 1; padding: 0.5em; }

#forderungen img { width: 5em; }
@media (min-width: 40em) { #forderungen img { width: 8em; } }
#forderungen p { margin: 0; padding-left: 0.5em; }

p { padding-left: 0.5em; padding-right: 0.5em; }

address { font-style: normal; }
#presse img { width: 9em; }
@media not screen and (min-width: 40em) { #presse img { width: 95%; padding: 0 0.5em 0 0.5em; } }
#presse p { margin: 0; margin-bottom: 1em; }
#presse a { color: inherit; font-weight: inherit; }

#unterstuetzung p { margin: 0; margin-bottom: 1em; }
#unterstuetzung img { width: 9em; }

#traeger img { width: 9em; }
@media not screen and (min-width: 40em) { #traeger img { width: 95%; padding: 0 0.5em 0 0.5em; } }
#traeger p { margin: 0; margin-bottom: 1em; }

strong:first-child { color: #00adef; }
#forderungen strong { color: black; }

ul { list-style: none; }
li:before { content: "‣ "; margin-left: -0.9em; }

@media not screen and (min-width: 40em) {
  .two-parts div { text-align: center; }
  .two-parts p { padding-bottom: 1em; }
  .heading { text-align: center; display: block; margin-bottom: -1em; }
}

@media (min-width: 40em) {
  .two-parts { display: flex; }
  .two-parts p { flex: 1 1 auto; }
}

.social-media { text-align: right; margin-top: -0.6em; margin-bottom: -0.6em; }
.social-media img { height: 1.3em; }
.social-media ul { display: block; padding-left: 0.5em; }
.social-media li { display: inline; }
.social-media li:before { content: ""; margin-left: 0; }

input.more { opacity: 0; position: absolute; }
label.more { cursor: pointer; color: #f68712; font-weight: bold; }

@media screen {
  .more-content { transition: all 0.15s, font-size 0s; }
  input.more:not(:checked) ~ .more-content { max-height: 0; font-size: 0px; line-height: 0px; visibility: hidden; }
  input.more:not(:checked) ~ .more-content li { margin: 0; padding: 0; }
  input.more:not(:checked) ~ .more-content ul { margin: 0; padding: 0; }
  input.more:checked ~ .more-content { max-height: 4000vh; }
  input.more:checked + p { display: none; }
}


.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding-top: 1em;
  position: relative;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider a { font-size: 100%; }
@media (min-width: 40em) { .slider a { font-size: 200%; } }

.slides {
  display: flex;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vh;
  height: 40vh;
}
@media (min-width: 40em) { .slides > div { width: 45em; height: 30em; } }
.slides img {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider > a {
  display: inline-flex;
  width: 1.5em;
  height: 1.5em;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active { top: 1px; }
.slider > a:focus { background: #000; }

@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}
